*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #0084fd;
  --primary-light-color: #b5ddff;
  --secondary-color: #9792e4;
  --secondary-light-color: #d4d3f4;
}

html{
  font-family: sans-serif;
}


/* debug */


.debug-box{
  background-color: var(--primary-light-color);
  height: 5rem;
}

.debug-box2{
  background-color: var(--secondary-light-color);
  height: 9rem;
}


/* Regole comuni */


.text-align-center{
  text-align: center;
}

.card, .col{
  margin-top: 1rem;
}


/* Regole di base - mobile first */


.container{
  margin: auto;
  width: 100%;
  padding: 0 1.2rem;
}

#site-header{
  background-color: var(--primary-color);
  height: 6.25rem;
  position: fixed;
  z-index: 999;
  width: 100%;
  left:0;
  top:0;
}

#site-header .top-bar{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main{
  padding-top: 4rem;
}

section{
  padding: 4rem 0;
}

#planning{
  background-color: var(--secondary-color);
}


/* MEDIA-QUERIES */

/* Regole per tablet - da 768px */

@media screen and (min-width: 768px){

  .container{
    max-width: 738px;
  }

  section{
    padding: 6rem 0;
  }

  #intro .cards{
    display: flex;
    flex-wrap: wrap;
    margin: -0.6rem;
  }
  
  #intro .card{
    width: calc((100% / 3) - 1.2rem);
    margin: 0.6rem;
  }

  #intro .card:first-child{
    width: calc((100% / 3 * 2) - 1.2rem);
  }

  #testimonials .card{
    display: flex;
  }

  blockquote{
    text-align: left;
  }
}



/* Regole per pc - da 992px */

@media screen and (min-width: 992px){

  .container{
    max-width: 952px;
  }

  #intro .card:first-child{
    display: flex;
    justify-content: space-between;
  }

  .columns{
    display: flex;
    justify-content: center;
    margin: 0 1.2rem;
  }

  .columns .col{
    margin: 0 1.5rem;
  }
}