*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #0084fd;
  --primary-light-color: #b5ddff;
  --secondary-color: #9792e4;
  --secondary-light-color: #d4d3f4;
  --white-color: #fff;
  --black-color: #000;
  --grey-color: #5a6e7f;
}

html{
  font-family: 'Open Sans', sans-serif;
}


/* debug */


.debug-box{
  background-color: var(--primary-light-color);
  height: 5rem;
}

.debug-box2{
  background-color: var(--secondary-light-color);
  height: 10rem;
}


/* Regole comuni */

.btn{
  padding: 0.4rem 0.8rem; 
  border-radius: 3rem;
  text-decoration: none;
  display: inline-block;
}

.btn:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.roboto-font{
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 0.9rem;
}

.extra-bold{
  font-weight: 700;
}

.text-align-center{
  text-align: center;
}

.rounded{
  border-radius: 1.5rem;
}

.mb-2{
  margin-bottom: 2rem;
}

.mb-1{
  margin-bottom: 1rem;
}

h4{
  font-size: 1.2rem;
}

.p-small{
  font-size: 0.9rem;
  line-height: 1.8;
}

.card, .col{
  margin-top: 1.2rem;
}

.card:first-child,
.col:first-child{
  margin-top: 0;
}

.primary-color{
  background-color: var(--primary-color);
} 

.primary-light-color{
  background-color: var(--primary-light-color);
} 

.secondary-color{
  background-color: var(--secondary-color);
} 

.secondary-light-color{
  background-color: var(--secondary-light-color);
} 

.white-color{
  background-color: var(--white-color);
}

.text-primary{
  color: var(--primary-color);
}

.text-white{
  color: var(--white-color);
}

.text-black{
  color: var(--black-color);
}

.text-grey{
  color: var(--grey-color);
}


/* Regole di base - mobile first */


.container{
  margin: auto;
  width: 100%;
  padding: 0 1.2rem;
}

 /* ------header */

#site-header{
  height: 6.25rem;
  position: fixed;
  z-index: 999;
  width: 100%;
  left:0;
  top:0;
}

.top-bar{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar .bars{
  font-size: 1.7rem;
}

.header-nav ul{
  display: flex;
  list-style: none;
}

.header-nav a{
  padding: 0.4rem 0.7rem;
  text-decoration: none;
  color: var(--white-color);
  display: inline-block;
}

.header-nav a:hover{
  text-decoration: underline;
}

.header-nav a.btn{
  color: var(--black-color);
  text-decoration: none;
}

.header-nav{
  display: none;
}

 /* ------main */

main{
  padding-top: 4rem;
}

section{
  padding: 4rem 0;
}

#intro .card{
  padding: 2rem;
  background-color: var(--primary-light-color);
}

#intro .card:first-child{
  padding: 0;
}

#intro .card .text-col{
  padding: 2rem;
}

#intro img{
  width: 70%;
  margin: 0 auto;
  display: block;
}

#intro i{
  font-size: 5rem;
}


 /* ------footer */

footer{
  background-color: #333333;
  padding: 3rem 0;
}



/* MEDIA-QUERIES */

/* Regole per tablet - da 768px */

@media screen and (min-width: 768px){

  .container{
    max-width: 738px;
  }

  section{
    padding: 6rem 0;
  }

  #intro .cards{
    display: flex;
    flex-wrap: wrap;
    margin: -0.6rem;
  }
  
  #intro .card{
    width: calc((100% / 3) - 1.2rem);
    margin: 0.6rem;
  }

  #intro .card:first-child{
    width: calc((100% / 3 * 2) - 1.2rem);
  }

  #intro img{
    width: 50%;
    margin-left: 2rem;
  }

  #testimonials .card{
    display: flex;
  }

  blockquote{
    text-align: left;
  }

  #work-with-us .cards{
    display: flex;
    flex-wrap: wrap;
    margin: -0.8rem;
  }

  #work-with-us .card{
    width: calc(50% - 1.6rem);
    margin: 0.8rem;
  }

  #about-us .columns{
    display: flex;
    justify-content: space-between;
  }

  #about-us .col{
    margin: 0 2rem;
  }

}



/* Regole per pc - da 992px */

@media screen and (min-width: 992px){

  .container{
    max-width: 952px;
  }

  .top-bar .bars{
    display: none;
  }

  .header-nav{
    display: block;
  }

  #intro .card:first-child{
    display: flex;
  }

  #intro img{
    margin-right: 1rem;
    padding-top: 3rem;
    width: 40%;
    align-content: flex-start;
    align-self: flex-end;
  }

  #planning .columns{
    display: flex;
    justify-content: center;
    margin: 0 1.2rem;
  }

  #planning .columns .col{
    margin: 0 1.5rem;
  }

  #work-with-us .card{
    width: calc((100% / 3) - 1.6rem);
  }
}



/* Regole per pc - da 1200px */

@media screen and (min-width: 1200px){

  .container{
    max-width: 1160px;
  }

  #intro img{
    width: 30%;
  }

}