*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* debug */


.debug .top-bar *{
  background-color: var(--primary-light-color);
}

.debug #intro .card{
  background-color: var(--primary-light-color);
  height: 9rem;
}

/* regole css */


:root{
  --primary-color: #0084fd;
  --primary-light-color: #b5ddff;
  --secondary-color: #9792e4;
  --secondary-light-color: #d4d3f4;
}

.container{
  margin: auto;
}

#site-header{
  background-color: var(--primary-color);
  height: 6.25rem;
  position: fixed;
  width: 100%;
  left:0;
  top:0;
}

#site-header .top-bar{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main{
  padding-top: 9rem;
}

#intro .cards{
  margin: -1rem;
}

#intro .card{
  margin: 1rem;
}

/* media queries */


@media screen and (max-width: 768px){

  .container{
    width: 100%;
    padding: 0 1.2rem;
  }
}


@media screen and (min-width: 768px){

  .container{
    max-width: 738px;
  }
}

@media screen and (min-width: 992px){

  .container{
    max-width: 952px;
  }
}